@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style-type: none;
    font-family: Poppins;
}

:root {
    --green: #49947A;
    --blue: #00325A;
    --blue80: rgba(0, 50, 90, 0.8);
    --blue50: rgba(0, 50, 90, 0.5);
    --white: #F0F0F0;
    --yellow: #FAB400;
}

.navbar-container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    padding: 24px 100px;
    background-color: white;
    z-index: 1;
}

.navbar-container img {
    width: 75px;
}

.navbar-content ul {
    display: flex;
    justify-content: center;
    gap: 50px;
}

.navbar-content ul li a {
    color: var(--blue);
    transition: 0.3s all ease-in-out;
}

.navbar-content .active {
    color: var(--green);
    font-weight: 700;
    position: relative;
}

.navbar-content .active::after {
    content: "";
    width: 100%;
    height: 5px;
    position: absolute;
    background-color: var(--green);
    bottom: -10px;
    left: 0;
}

.navbar-content ul li a:hover {
    color: var(--green);
}

.navbar-container button {
    color: var(--white);
    font-size: 18px;
    font-weight: 600;
    background-color: var(--green);
    border: 3px solid var(--green);
    padding: 12px 25px;
    border-radius: 12px;
    cursor: pointer;
    transition: 0.3s all ease-in-out;
}

.navbar-container button:hover {
    color: var(--green);
    background-color: transparent;
}

.landing-container {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 96px 100px 0 100px;
    background-color: var(--yellow);
}

.landing-left-container {
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.landing-left-container h1 {
    font-size: 52px;
    color: var(--blue);
}

.landing-left-container h3 {
    font-size: 32px;
    color: var(--blue80);
    text-align: end;
}

.landing-left-container p {
    font-size: 20px;
    color: var(--blue50);
}

.landing-search {
    display: flex;
    align-items: center;
    gap: 20px;
    background-color: var(--white);
    padding: 10px 20px;
    width: 80%;
    border-radius: 12px;
}

.landing-search input {
    width: 100%;
    border: none;
    background: transparent;
    color: var(--blue50);
    outline: none;
}

.landing-search button {
    color: var(--white);
    font-size: 18px;
    font-weight: 600;
    background-color: var(--green);
    border: 3px solid var(--green);
    padding: 5px 16px;
    border-radius: 12px;
    cursor: pointer;
    transition: 0.3s all ease-in-out;
}

.about-container {
    display: flex;
    width: 100%;
    padding: 100px;
    justify-content: space-between;
    align-items: center;

}

.about-left-container {
    width: 60%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.about-left-container h1 {
    color: var(--blue);
    font-size: 40px;
}

.about-left-container p {
    color: var(--blue);
    font-size: 18px;
}

.pt-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 50px;
    padding: 0 100px;
}

.pt-container, .kursus-container h1 {
    font-size: 40px;
    color: var(--green);
}

.pt-container, .kursus-container span {
    color: var(--blue);
}

.pt-contents {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
}

.pt-container .card-container {
    width: 600px;
    position: relative;
    display: flex;
    gap: 50px;
    background-color: var(--white);
    padding: 25px 15px;
    border-radius: 12px;
}

.pt-container .card-container:nth-child(3) {
    margin-top: 50px;
}

.pt-container .card-container .card-contents {
    display: flex;
    flex-direction: column;
}

.pt-container .card-container .card-contents .card-details h3 {
    font-size: 32px;
    color: var(--blue);
}

.pt-container .card-container .card-contents .card-details h4 {
    font-size: 24px;
    color: var(--blue50);
    opacity: 0.5;
}

.pt-container .card-container .card-contents .card-people {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    position: absolute;
    bottom: 25px;
    right: 15px;
    color: var(--blue);
}

.pt-container .card-container .card-contents .card-people h4 {
    font-size: 32px;
}

.pt-container .card-container .card-contents .card-people i {
    font-size: 25px;
}

.kursus-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 100px;
    gap: 50px;
}

.kursus-contents {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.kursus-container .kursus-contents .card-container {
    background-color: var(--white);
    padding: 25px 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    border-radius: 12px;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.1);
    transition: 0.3s all ease-in-out;
}

.kursus-container .kursus-contents .card-container:hover {
    transform: translate(0, -20px);
    box-shadow: 4px 4px 10px var(--green);
}

.kursus-container .kursus-contents .card-container .card-contents {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    gap: 50px;
}

.kursus-container .kursus-contents .card-container .card-contents h3 {
    font-size: 20px;
    color: var(--blue);
}

.kursus-container .kursus-contents .card-container .card-contents .card-details {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.kursus-container .kursus-contents .card-container .card-contents .card-details p {
    font-size: 16px;
    color: var(--blue50);
}

.card-details-top {
    display: flex;
    align-items: center;
    gap: 10px;
}

.card-details-mid {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.card-details-mid-contents {
    display: flex;
    align-items: center;
    gap: 10px;
}

.card-details-btn {
    border: none;
    background-color: var(--green);
    border-radius: 12px;
    color: white;
    font-size: 18px;
    padding: 12px 25px;
}

@media screen and (max-width: 414px) {
    .landing-container {
        flex-direction: column;
    }
}